<h2> Hi, {{ username }} </h2>
<p>
To restore your password please follow the instructions.
Go to the page, and type your new password.
<a href="{{ page }}/?token={{ token }}&email={{ email }}">Change password</a>
</p>